/*Pseudo classes*/
/* : link ( a link that has never been visited)
:visited </div>
:hover (when you go over the text - this also applies to other elements*/
/* Lvha*/ </div>
a:link { </div>
} </div>
a:visited {
  color: dar </div>
  font-size: 20px;</div>
  a:link { </div>
}
a:active {
  color: deeppink;
}
/*--using :hover on a d </div>
  background-color: blue;
}
.box:hover {
  background- </div>
  background-color: coral;
  display: none; /* in this case it will hide the p tag */
}
.disclose:hover p{
    display: black;/* in this case it will show up the  p tag*/
    7*Html color can be specified in different 
    - color animation-name: ;*/
    .largeBox {
        width:
    }
}
